<mat-card>
    <mat-card-title>{{entry.companyName}}</mat-card-title>
    <div class="group">
        <div class="text">
            <div class="city">{{entry.zip}} {{entry.city}}</div>
            <div class="street">{{entry.street}}</div>
            <div class="contactTimes">{{entry.contactTimes}}</div>
        </div>
        <div class="text">
                <div class="email">{{entry.email}}</div>
                <div class="phone">{{entry.phone}}</div>
                <div class="web">{{entry.web}}</div>
        </div>
    </div>
    <div class="description" [innerHTML]="entry.description"></div>
    <div class="images" *ngIf="entry.images">
        <img *ngFor="let img of entry.images" [src]="img.base64">
    </div>
</mat-card>