mat-card{
    width: 50%;
    min-width: 400px;
    .group{
        display: flex;
    }
    .images{
        display: flex;
        flex-wrap: wrap;
        margin: 20px 0;
        img{
            width:100px;
            height:100px;
            object-fit: cover;
            margin:0 10px;
        }
    }
}