@import "../../variables.scss";

header{
    display: flex;
    flex-direction: column;
    width: 100%;
    .title{
        cursor: pointer;
    }
    .poc{
        margin: 10px 20px;
        padding:5px 40px;
        border-radius: 10px;
        width:calc(100% - 120px);
        color: #fff;
        background-color: #be8167;
    }
    > div{
        display: flex;
        width: 100%;
        justify-content: space-between;
        > div{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 20px 5%;
            font-weight: bold;
            > mat-icon{
                color: red;
                font-size: 30px;
                width: 30px;
            }
        }
    }
}

@media screen and (max-width: $mobileWidth){
    header{
        justify-content: flex-start;
        .right{
            display: none;
        }
    }     
}