<header>
    <div>
        <div routerLink="/" class="title">ShopNextDoor - {{title}}</div>
        <div class="right">Ein <mat-icon>favorite</mat-icon> für den lokalen Einzelhandel!</div>
    </div>
    <div class="poc">
        Es handelt sich hierbei aktuell nur um einen Prototyp, der die Funktionen veranschaulichen soll.<br />
        Nicht alle Funktionen sind derzeit verfügbar.
    </div>
</header>
