<div class="banner" *ngIf="cookieInfo">
    <div class="text">Diese Website verwendet Cookies – nähere Informationen dazu und zu Ihren Rechten als Benutzer finden Sie in unserer Datenschutzerklärung am Ende der Seite. 
        Durch Verwendung der Website stimmen Sie der Speicherung von Cookies zu.
        Klicken Sie auf „OK“, um diesen Hinweis zu schließen.</div>
    <div><button mat-raised-button (click)="cookieInfo = false">OK</button>
</div>