.banner{
    position: fixed;
    z-index: 10;
    bottom:0;
    width:calc(100% - 60px);
    display: flex;
    align-items: center;
    padding:10px 30px;
    background-color: #fff;
    .text{
        flex-grow: 1
    }
}