<div class="wrapper">
    <div class="content">
        <div class="start">
            <div class="info">
                <h1>Shop <span class="highlight">Next Door</span></h1>
                <h2>Lokaler Einzelhandel</h2>
                <div class="index"><p><strong>Der lokale Einzelhandel erfüllt unsere alltäglichen Bedürfnisse und haucht den Innenstädten Leben ein.</strong></p>
                <p>
                    Durch Corona liegt der lokale Handel brach und viele Familien sorgen sich um ihre Existenzen. <br />
                    ShopNextDoor ermöglicht es den Händlern und Kunden in Kontakt zu treten und weiterhin der lokalen Nachfrage nachzukommen. Lasst uns zusammenhalten!
                </p>
                </div>
            </div>
            <mat-card>
                        <p>Der lokale Einzelhandel ist Euer kompetenter und treuer Berater vor Ort! Kauft lokal und unterstützt bei der Bewältigung der Corona Folgen!</p>
                        <button id="searchButton" mat-raised-button color="primary" (click)="router.navigate(['customer'])">Lokalen Einzelhandel suchen</button>
                        <div class="important-text">
                            <p>Jetzt kostenlos Profil anlegen und sichtbar werden!</p>
                            <button id="registerButton" mat-raised-button (click)="router.navigate(['merchant','register'])">Unternehmen registrieren</button>
                        </div>
            </mat-card>
        </div>
        <div class="info-bottom">
            <h3>Und so funktioniert es</h3>
            <div class="groups">
                <div><mat-icon>filter_list</mat-icon> Dienstleistung / Produkt suchen</div>
                <div><mat-icon>phone</mat-icon> Händler kontaktieren</div>
                <div><mat-icon>redeem</mat-icon> Einkauf tätigen</div>
            </div>
        </div>
    </div>
</div>