@import "../../variables.scss";

.wrapper {
    // background-color: rgba(0,0,0,.1);
    > .info-bottom .groups {
        display: flex;
        flex-wrap: wrap;
        >div {
            display: flex;
            align-items: center;
        }
    }
    > mat-card{
        margin: auto;
        max-width: 500px;
        > mat-card-title {
            text-align: center;
            margin-bottom: 30px;
        }
        > div{
            display: flex;
            justify-content: space-evenly;
            > button{
                margin:0 30px;
            }
        }
    }
}

.start {
    display: flex;
    flex-direction: row;
    .info {
        margin: 0 0.5em;
    }
    mat-card {
        margin: 0 0.5em;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        border-radius: 1em;
    
        #searchButton {
                background-color: #049ba9;
                color: white;
                width: fit-content;
                align-self: center;
            }
        #registerButton {
                background-color: #be8167;
                color: white;
                width: fit-content;
            }
    }
}

.info-bottom {
    .groups {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        div {
            display: flex;
            flex-direction: column;
            align-items: center;
            .material-icons {
                font-size: 4em;
                color: #049ba9;
            }
            mat-icon {
                height: auto;
                width: auto;
            }
        }
    }
    
}
