agm-map {
    height: calc(100vh - 65px);
}
.view{
    position: fixed;
    z-index: 8;
    background-color: rgba(0,0,0,.25);
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.list{
    position: fixed;
    z-index: 5;
    left:20px;
    top:100px;
    width:250px;
    height:calc(100vh - 200px);
    background-color: #fff;
}