<div class="list">
    <app-entry-small *ngFor="let entry of entries" (click)="open(entry)" [entry]="entry"></app-entry-small>
</div>
<div class="view" *ngIf="displayId" (click)="open(null)">
    <app-entry-large [entry]="get(displayId)"></app-entry-large>
</div>
<agm-map
    [latitude]="lat"
    [longitude]="lng"
    [zoom]="zoom"
    [mapTypeControl]="true"
    [showDefaultInfoWindow]="false">
    <agm-marker
        *ngFor="let entry of entries"
        [latitude]="entry.latitude"
        [longitude]="entry.longitude"
        [label]="entry.companyName"
        (markerClick)="open(entry)"
    ></agm-marker>
</agm-map>