<div class="wrapper">
    <div class="content">
    <div class="info-top">
        <h2 id="registerHeading"> Profil anlegen und sichtbar werden!</h2>
    </div>
    <mat-horizontal-stepper [linear]="true"  #stepper>       
        <mat-card>
            <mat-step [stepControl]="mainGroup">
                <form [formGroup]="mainGroup" class="form">
                    <ng-template matStepLabel>Basisdaten</ng-template>
                    <app-input label="Name des Unternehmens" formControlName="companyName" [className]="'overlay'">
                        Gib hier bitte den vollständigen Namen deines Unternehmens ein.
                    </app-input>
                    <app-input label="Name des Inhabers" formControlName="ownerName"  [className]="'overlay'">
                            Gib hier bitte den Namen des Geschäftsinhabers ein.
                    </app-input>
                    <mat-form-field>
                        <mat-label>Branche</mat-label>
                        <input type="text"
                                matInput
                                formControlName="industry"
                                [matAutocomplete]="auto">
                        <mat-autocomplete #auto="matAutocomplete" [displayWith]="display">
                            <mat-option *ngFor="let option of industries" [value]="option">
                            {{option.value}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                    <div class="group">
                        <app-input label="PLZ" formControlName="zip" [hasHelp]=false></app-input>
                        <app-input label="Ort" formControlName="city" [hasHelp]=false></app-input>
                    </div>
                    <app-input label="Straße" formControlName="street" [hasHelp]=false></app-input>
                    <button mat-raised-button color="primary" (click)="next()" [disabled]="mainGroup.invalid">Weiter</button>
                </form>
            </mat-step>
            <mat-step [stepControl]="contactGroup">
                <form [formGroup]="contactGroup" class="form">
                    <ng-template matStepLabel>Kontaktinfos</ng-template>
                    <app-input label="Kontaktzeiten" formControlName="contactTimes" [className]="'overlay'">
                            <p>Wann ist das Unternehmen aktuell zu erreichen?<br>
                            Dadurch, dass die Ladengeschäfte aktuell nicht geöffnet sind, können hier telefonische oder andere Erreichbarkeiten angegeben werden.  </p>
                    </app-input>
                    <app-input label="Telefon" formControlName="phone" [hasHelp]=false></app-input>
                    <app-input label="E-Mail-Adresse" formControlName="email">
                            Gib hier bitte eine Telefonnummer an, unter der interessierte Kunden anrufen können und Dienstleistungen oder Waren bestellen können oder beraten werden.
                    </app-input>
                    <app-input label="Facebook-Seite (Link)" formControlName="facebook">
                            description...
                    </app-input>
                    <app-input label="Webseite" formControlName="web">
                            description...
                    </app-input>
                    <button mat-raised-button color="primary" (click)="next()" [disabled]="contactGroup.invalid">Weiter</button>
                </form>
            </mat-step>
            <mat-step [stepControl]="descriptionGroup">
                <form [formGroup]="descriptionGroup" class="form">
                    <ng-template matStepLabel>Beschreibung</ng-template>
                    <p>Beschreibe in ein paar Sätzen, worum es sich bei deinem Unternehmen handelt und welche Produkte und Dienstleistungen du anbietest.</p>
                    <ckeditor [editor]="Editor" formControlName="description"></ckeditor>
                    <button mat-raised-button color="primary" (click)="next()" [disabled]="descriptionGroup.invalid">Weiter</button>
                </form>
            </mat-step>
            <mat-step [stepControl]="imageGroup">
                <form [formGroup]="imageGroup" class="form">
                    <ng-template matStepLabel>Bilder</ng-template>
                    <app-image-picker label="Titelbild / Banner" (onChange)="images.business=$event"></app-image-picker>
                    <div class="group">
                        <app-image-picker label="Weitere Bilder" (onChange)="images.image_1=$event"></app-image-picker>
                        <app-image-picker label="Weitere Bilder" (onChange)="images.image_2=$event"></app-image-picker>
                        <app-image-picker label="Weitere Bilder" (onChange)="images.image_3=$event"></app-image-picker>
                    </div>
                    <button mat-raised-button color="primary" (click)="save()" [disabled]="imageGroup.invalid">Veröffentlichen</button>
                </form>
            </mat-step>
        </mat-card>
    </mat-horizontal-stepper>
</div>
</div>