#registerHeading {
    font-size: 3em;
    margin: 0.5em 0;
}

form{
    display: flex;
    flex-direction: column;
    .group {
        width:100%;
        display: flex;
        > * {
            width: 0;
            flex-grow: 1;
        }
    }
    button {
        margin-top: 20px;
    }
}
:host ::ng-deep {
    .mat-horizontal-stepper-header-container{
        margin-bottom: 20px;
    }
    .ck-editor__editable_inline {
        min-height: 200px;
    }
}

mat-horizontal-stepper {
    border-radius: 1em;
    form[_ngcontent-ovv-c110] button[_ngcontent-ovv-c110] {
        margin-top: 20px;
        background-color: #be8167;
    }
}
.mat-flat-button.mat-primary, .mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary {
    background-color: #be8167;
}

.mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit {
    background-color: #049ba9!important;
    color: white;
}

