.entry{
    display: flex;
    align-items: center;
    padding:5px 10px;
    cursor: pointer;
    &:hover{
        background-color: #eee;
    }
    img{
        width:50px;
        height:50px;
        object-fit: cover;
        margin-right: 20px;
    }
    .text{
        display: flex;
        flex-direction: column;
        .name{
            font-weight: bold;
        }
    }
}