<div class="entry">
    <img *ngIf="entry.images" [src]="entry.images[0].base64">
    <div class="text">
        <div class="name">{{entry.companyName}}</div>
        <div class="city">{{entry.zip}} {{entry.city}}</div>
        <div class="street">{{entry.street}}</div>
        <div class="contactTimes">{{entry.contactTimes}}</div>
    </div>
</div>