<div class="input-wrapper">
<mat-form-field>
    <mat-label>{{label}}</mat-label>
    <input matInput [ngModel]="value" (ngModelChange)="propagateChange($event)">
</mat-form-field>
<button *ngIf="hasHelp" mat-icon-button (click)="help=!help">
    <mat-icon>info_outline</mat-icon>
</button>
<div class="dialog" *ngIf="help" (click)="help=false"></div>
<div *ngIf="help" class="help">
    <ng-content></ng-content>
</div>
</div>