.input-wrapper{
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    > mat-form-field{
        flex-grow: 1;
    }
    > button{
        margin-left: 10px;
    }
    .help{
        position: absolute;
        background-color: #e4d3bb;
        padding: 30px;
        right: 40px;
        top: 10px;
        max-width: 50%;
        opacity: 100%;
        z-index: 1;
    }
}