@import 'variables';

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$shop-next-door-primary: mat-palette($mat-indigo);
$shop-next-door-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$shop-next-door-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$shop-next-door-theme: mat-light-theme($shop-next-door-primary, $shop-next-door-accent, $shop-next-door-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($shop-next-door-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


/*Headings*/
h1 {font-family: 'Permanent Marker', cursive;}
h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 5em;
    font-weight: 700;
    margin: 0;
}
h3 {font-weight: bold;}

.highlight {
        margin-left: -4px;
        padding-right: 4px;
        padding-left: 4px;
        background-image: url("https://assets.website-files.com/5e765f429105fa7a1edef54c/5e76692c0014e6c66e161ff1_Vector%201.svg");
        background-position: 50% 100%;
        background-size: auto;
        background-repeat: no-repeat;
}

.important-text {
    background-color: #e4d3bb;
    padding-bottom: 1em;
    border: #be8167 1px solid;
    &.explanation {
        text-align: left;
        width: 80%;
        p {
            padding: 1em;
        }
    }
}

/*General Widths*/
.wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    align-content: space-between;
    flex-wrap: wrap;
}

.content {
    position: absolute;
    width: 80%;
    max-width: 1000px;
}

button {
    height: 4em;
    padding: 8px 23px!important;
    border-radius: 2em!important;
    color: #fff;
}

.dialog{
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

app-root{
    display: flex;
    flex-direction: column;
    height: 100%;
    app-landing, app-merchant-register{
        flex-grow: 1;
        .wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 100%;
            background-color: #e4ebcc;
            > .info-top, .info-bottom{
                line-height: 1.25;
                > .title{
                    font-weight: bold;       
                }
            }
        }
    }
}

@media screen and (max-width: $mobileWidth){
    .wrapper .info-top .detail{
        display: none;
    }
}