<input type="file" accept="image/*" style="display:none" (change)="setImage(picker.files)" #picker>
<mat-label>{{label}}</mat-label>
<div class="image" (click)="picker.click()">
    <div *ngIf="!data">
        <mat-icon>cloud_upload</mat-icon>
        Bild wählen
    </div>
    <img *ngIf="data" [src]="data">
</div>