.image{
    border:2px dashed #eee;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    > div{
        color: #ccc;
        display: flex;
        align-items: center;
        >mat-icon{
            margin-right: 20px;
        }
    }
    > img{
        width: 100%;
        height: 200px;
        object-fit: cover;
    }
}